//Light Mode
$fontSizeTitle: 35px;
$fontSizeSubtitle: 30px;
$fontSizeLarge: 25px;
$fontSizeTrending: 18px;
$fontSizeCategory: 16px;
$fontSizeMedium: 15px;
$fontSizeSmall: 14px;
$secondaryFontColor: #5ED7C6;
$searchFontColor: #6B7989;
$searchFontColorLarge: #9CAFC3;
$mediaFontColor: #CDD6E0;
$primaryFontFamily: "Montserrat", sans-serif;
$secondaryFontFamily: "Roboto", sans-serif;


//Dark Mode
$backgroundColorDarkMode: #37383C;
$secondaryColorDarkMode: #000000;
$backgroundTrendingDarkMode: #222326;
$primaryFontColorDarkMode: #FFFFFF;

$themes: (
    "light": (
        "colors": (
            "backgroundColor": #FFFFFF,
            "borderColor": #572EE5,
            "secondaryBackgroundColor": #572EE5,
            "backgroundTrending": #F3F5F8,
            "navDisplayColor": rgba(87,46,229,0.90),
            "primaryFontColor": #572EE5,
            "paragraphFontColor": #000000
        )
    ),
    "dark": (
        "colors": (
            "backgroundColor": #37383C,
            "borderColor": #000000,
            "secondaryBackgroundColor": #FFFFFF,
            "backgroundTrending": #222326,
            "navDisplayColor": #000000,
            "primaryFontColor": #FFFFFF,
            "paragraphFontColor": #FFFFFF
        )
    )
);

@each $theme-name, $theme-vars in $themes {
    $colors: map-get($theme-vars, "colors");
  
    $theme: (
      "backgroundColor": map-get($colors, "backgroundColor"),
      "borderColor": map-get($colors, "borderColor"),
      "secondaryBackgroundColor": map-get($colors, "secondaryBackgroundColor"),
      "backgroundTrending": map-get($colors, "backgroundTrending"),
      "navDisplayColor": map-get($colors, "navDisplayColor"),
      "primaryFontColor": map-get($colors, "primaryFontColor"),
      "paragraphFontColor": map-get($colors, "paragraphFontColor")
    );
  
    .app.#{$theme-name} {  
      // define a css variable for each color
      @each $name, $color in $colors {
        --#{$name}: #{$color};
      }
  
      // define a css variable for each theme color
      @each $name, $color in $theme {
        --#{$name}: #{$color};
      }
    }
  }
  

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    color: var(--primaryFontColor);
    font-family: $primaryFontFamily;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
    letter-spacing: 0; 
}
h1, h2, p {
    letter-spacing: 0;
}
header {
    border-top: 5px solid var(--borderColor);
    padding: 0 5%;
    background: var(--backgroundColor);
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        height:95px;
        .logo {
            width: 56px;
            height: 49px;
        }
        .navbar {
            display: none;
        }
        .btn-nav {
            display: inline;
            .fa-bars {
                font-size: $fontSizeTrending;
            }
            .fa-times {
                font-size: $fontSizeTrending;
                display: none;
            }
        }
    }
    .crearGifos {
        display: block;
        box-sizing: border-box;
        svg {
            circle {
                fill: var(--backgroundColor);
                stroke: var(--secondaryBackgroundColor);
            }
            path {
                fill: var(--secondaryBackgroundColor);
            }
            &:hover {
                circle {
                    fill: var(--secondaryBackgroundColor);
                    stroke: var(--secondaryBackgroundColor);
                }
                path{
                    fill: var(--backgroundColor);   
                }
            }
            &:active {
                circle {
                    fill: $searchFontColorLarge;
                    stroke: $searchFontColorLarge;
                }
                path {
                    fill: white;
                }
            }
        }
    }
    .nav-options .searchBar {
        margin: 7px 132px -25px 90px;
        display: none;
    }
    @media (max-width: 900px) {
    .nav-options {
        display: none;
        box-sizing: border-box;
        width: 100%;
        height: 84%;
        li {
            height: 8%;
            display: flex;
            justify-content: center;
            a {
                font-size: $fontSizeMedium;
                font-family: $secondaryFontFamily;
                line-height: 60px;
                text-align: center;
            }
        }
    }
    .navbar:checked ~ .nav-options {
        z-index: 1;
        position: absolute;
        top: 95px;
        left: 0px;
        padding-top: 17px;
        display: block;
        width: 100%;
        height: 100%;
        background-color:var(--navDisplayColor);
        .searchBar{
            display: none;
        }
        li {
            margin-bottom: 14px;
            a {
                font-size: $fontSizeMedium;
                color: $primaryFontColorDarkMode;
                letter-spacing: 0;
                line-height: 30px; 
            }
            a:after{
                content: '';
                display: block;
                margin: 0 auto;
                width: 41px;
                margin-top: 10.9px;
                border-bottom: 0.1px solid $primaryFontColorDarkMode;
            }
        }
    }
    .navbar:checked + .btn-nav {
        .fa-bars {
            display: none;
        }
        .fa-times {
            display: block; 
        }
    }
}
}
.searchBar {
    display: inline-block;
    position: relative;
    input {
        width: 334px;
        height: 50px;
        border-radius: 27px;
        text-align: left;
        text-indent: 55px;
        margin-bottom: 31px;
        outline: none;
        font-family: $secondaryFontFamily;
        font-size: $fontSizeCategory;
        background: var(--backgroundColor);
        border: 1px solid var(--secondaryBackgroundColor);
        color: var(--paragraphFontColor);
        &::placeholder{
            color: $searchFontColorLarge;
            opacity: 1;
        }
    }
    .iconSearch {
        position: absolute;
        margin: 4.5% 0 0 -10.5%;
    }
    .iconClose {
        position: absolute;
        margin: 4.5% 0 0 -10.5%;
        display: none;
      }
    .iconClose:hover {
        cursor: pointer;
    }
}
.searching-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--backgroundColor);
    h1 {
        font-size: $fontSizeLarge;
        line-height: 33px;
        margin: 7px 45px 31px 44px;
        margin-bottom: 31px;
        text-align: center;
        font-weight: 800;
        width: 80%;
        s{
            color: $secondaryFontColor;
            text-decoration: none;
        }
    }
    .searchImage {
        width: 273px;
        height: 130px;
        margin: 0 13.6% -2px 13.6%;
        img {
            max-width: 100%;
        }
    }
    .trending { 
        font-size: $fontSizeCategory;
        font-weight: bold;
        line-height: 25px;
        text-align: center;
    }
    .containerTrending {
        padding: 22px 5% 45px 5%;
        align-items: center;
        align-items: center;
        text-align: center;
        width: 80%;
        p {
            font-size: $fontSizeSmall;
            font-weight: 400;
            cursor: pointer;
            display: inline-block;
            padding-right: 0.5em;    
            align-content: center;
        }
        p::first-letter {
            text-transform: uppercase;
        
        }
    }
}
#titleCategorySearch{
    line-height: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 38px;
    display: none;
    &::before{
        content: '';
        text-align: center;
        display: block;
        margin: 35px auto;
        width: 157px;
        opacity: 0.5;
        border-bottom: 1px solid $searchFontColorLarge;
    }
}
.results{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    img {
        width: 156px;
        height: 120px;
        padding: 20px;
        text-align: center;
    }
}
.figure{
    width: auto;
    height: auto;
}
li{
    list-style: none;
}

.btn {
    width: 127px;
    height: 50px;
    border-radius: 27px;
    text-align: center;
    margin-bottom: 31px;
    outline: none;
    font-family: $secondaryFontFamily;
    font-size: 13px;
    font-weight: bold;
    background: var(--backgroundColor);
    border: 1px solid var(--secondaryBackgroundColor);
    color: var(--primaryFontColor);
    display: none;
}
.title{
    margin-top: 1.65%;
}
.favorites{
    margin: 11px 0 16% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}
.myGifos{
    margin: 11px 0 16% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}
.notFound{
    margin-top: 14%;
    p{
        margin-top: 4%;
        color: $secondaryFontColor;
        font-weight: bold;
        width: 287px;
    }
}
.trendingGifos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--backgroundTrending);
    h2{
        margin-top: 46px;
        font-size: 20px;
        font-weight: bold;
    }
    .subtitleTrending{
        font-family: $secondaryFontFamily;
        font-size: $fontSizeCategory;
        color: var(--paragraphFontColor);
        line-height: 23px;
        width: 185px;
        text-align: center;
        font-weight: medium;
        margin-bottom: 32px;
    }
}
.containerImgGifos{
    background: var(--backgroundTrending);
    display: none;
}
.containerFooter {
    background: var(--backgroundColor);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-bottom: 5px solid var(--borderColor);
}
.containerSocialMediaIcons {
    margin:20px 0 47.8px 0;
    p{
        font-family: $secondaryFontFamily;
        font-size: $fontSizeSmall;
        color: var(--paragraphFontColor);
        margin-bottom: 24px;
    }
    img {
        margin: 0 19px;
      }
}
.footerGifosAll {
    font-size: $fontSizeSmall;
    letter-spacing: 0;
    line-height: 20px;
    color: var(--paragraphFontColor);
    font-family: $secondaryFontFamily;
    margin-bottom: 23px;
}
@media (min-width: 900px) {
    * {
        margin: 0;
        padding: 0; 
    }
    body {
        margin: 0;
    }
    header {
        position: sticky;
        top: 0;
        padding: 0;
        z-index: 3;
        background-color: var(--backgroundColor);
        nav {
            .logo {
                width: 68px;
                height: 60px;
            }
            justify-content: space-between;
            margin: 0 6.9%;
            height: 90px;
            .fa-bars {
                display: none;
            }
            .nav-options {
                display: flex;
                align-items: center;
                justify-content: space-between;
                li {
                    padding: 0;
                    margin-left: 48px;
                    a {
                        color: var(--primaryFontColor);
                        letter-spacing: 0;
                        line-height: 16px;
                        font-weight: bold;
                        font-size: $fontSizeSmall;
                        text-transform: uppercase;
                    }
                    a:hover {
                        border-bottom: 2px solid $secondaryFontColor;
                    }
                    a:active {
                        color: var(--primaryFontColor) 56%;
                    }
                    a:active {
                        font-size: $fontSizeSmall;
                        color: $searchFontColorLarge;
                        letter-spacing: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    .searching-page{
        h1{
            margin: 76px 0 24px 0;
            width: 45%;
            font-size: $fontSizeTitle;
            line-height: 50px;
        }
        .searchImage {
            width: 399px;
            height: 190px;
        }
        input{
            margin-bottom: 73px;
            width: 551px;
        }
        .iconSearch{
            margin: 2.5% 0 0 -8.5%;
        }
        .iconClose{
            margin: 2.5% 0 0 -8.5%;
        }
        .trending { 
            font-size: $fontSizeTrending;
        }
        .containerTrending {
            padding-bottom: 95px;
            p{
                font-size: $fontSizeCategory;
                width: auto;
            }
            p:after{
                width: 338px;
                margin: 74px auto;
            }
        }
    }
    .results {
        grid-template-columns: auto auto auto auto;
        img {
            width: 260px;
            height: 200px;
        }
    }
    .trendingGifos{
        h2{
            font-size: $fontSizeLarge;
        }
        .subtitleTrending{
            font-size: $fontSizeTrending;
            line-height: 21px;
            width: 100%;
            margin-bottom: 53px;
        }
    }
    .containerImgGifos{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        .buttonSliderLeft{
            margin-left: 8.5%;
        }
        .buttonSliderLeft:hover{
            background: var(--secondaryBackgroundColor);
        }
        .buttonSliderRight{
            margin-right: 8.5%;
        }
        .buttonSliderRight:hover{
            background: var(--secondaryBackgroundColor);
        }
    }
    .containerFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;
        .containerSocialMediaIcons{
            display: flex;
            margin: 49.5px 0 37.5px 13.5%;
        }
        .footerGifosAll{
            margin-right: 13.5%;
        }
    }
}