$rootFontSize: 16px;
$rootFontSizeSmall:12px;
$primaryColor: purple;
$secondaryColor: darkgreen;
$primaryFontColor: gold;
$responsiveFontSize: 8vmin; 
/* esto pone el titulo de tamaño del 8% de vw(ancho), vh(altura), vmin(lado mas chico de referencia) 
y vmax (lado mas largo de referencia)*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}
html{
    font-size: $rootFontSize;
}
body{
    background-color: grey;
    color: $primaryFontColor;
}
.tittle{
    font-size: $responsiveFontSize;
}
nav{
    ul{
        display: flex;
        // padding: 4px;
        width: 100vw;
        // flex-wrap: wrap;
        // flex-direction: column;
        flex-flow: nowrap column;
        justify-content: center;
        overflow: hidden;
        transition: 2s;
    }
    li{
        display: flex;
        flex: 1 0 auto;
        background-color: $primaryColor;
        font-size: 3rem;/*Toma multiplo de 16px-> 4rem=4*16px*/
        text-align: center;    
    }
    a {
        flex: 1;
    }
    li:first-child{
        flex-grow: 4;
        flex-shrink: 1;
    }
}
@media screen and (min-width:768px){
    nav ul{
        flex-direction: row;
        height: 128px;
    }
    li {
        align-items: center;
    }
}

// @media screen and (min-width:769px){
//     html{
//         font-size: $rootFontSizeSmall;
//     }
//     nav li{
//         width: calc(25% - 2.25px);
//         height: 48px;
//     }
// }

// @media screen and (min-width:1367px){
//     nav li{
//         background-color: $secondaryColor;
//     }
// }